[user]
	email = kinpeter85@gmail.com
	name = Peter Kin
[core]
	editor = nano
[pull]
	rebase = false
[alias]
	alias = config --get-regexp alias
	localuser = config user.email
	globaluser = config --global user.email
	pretty = log --oneline --graph --all
	pr5 = log --oneline --graph --all -5
	pr10 = log --oneline --graph --all -10
	ll = log -1
	st = status
	poh = push origin HEAD
	pohf = push origin HEAD --force
	pohfwl = push origin HEAD --force-with-lease
	pot = push origin --tags
	cm = commit -m
	cam = commit --amend -m
	cnv = commit --no-verify
	co = checkout
	cob = checkout -b
	cod = checkout develop
	com = checkout master
	ac = !git add . && git commit -m
	aac = !git add . && git commit --amend -m
	aacl = "!f() { git aac \"$(git log -1 --pretty=%B)\"; }; f"
	acnv = !git add . && git commit --no-verify -m
	aacnv = !git add . && git commit --amend --no-verify -m
	aacnvl = "!f() { git aacnv \"$(git log -1 --pretty=%B)\"; }; f"
	cp = cherry-pick
	brn = branch -m
	f = fetch
	fp = fetch --prune
	pulod = pull origin develop
	pulom = pull origin master
	pulo = "!f() { git pull origin $(git rev-parse --abbrev-ref HEAD); }; f"
	rbi = "!f() { git rebase -i HEAD~$1; }; f"
	fuckit = !git reset --hard HEAD && git clean -df
	us = reset HEAD
	discard = checkout -- 

	
