[general]
background-color='ambiance:background'
color-scheme='ambiance'
indicator-expressions=['$(percent(cpu.inuse)) | $(size(mem.user))', '', 'Mem $(size(mem.user))', 'Net $(speed(net.down))/$(speed(net.up))', 'Swap $(size(swap.used))', 'Load $(decimals(load.avg,2))', 'Disk $(speed(disk.read))/$(speed(disk.write))']
settings-version=uint32 3
width=uint16 10

[graphs/cpu]
enabled=true

[graphs/cpu/cpu1]
color='ambiance:cpu1'

[graphs/cpu/cpu2]
color='ambiance:cpu2'

[graphs/cpu/cpu3]
color='ambiance:cpu3'

[graphs/cpu/cpu4]
color='ambiance:cpu4'

[graphs/disk/disk1]
color='ambiance:disk1'

[graphs/disk/disk2]
color='ambiance:disk2'

[graphs/load/load1]
color='ambiance:load1'

[graphs/mem]
enabled=false

[graphs/mem/mem1]
color='ambiance:mem1'

[graphs/mem/mem2]
color='ambiance:mem2'

[graphs/mem/mem3]
color='ambiance:mem3'

[graphs/mem/mem4]
color='ambiance:mem4'

[graphs/net]
enabled=false

[graphs/net/net1]
color='ambiance:net1'

[graphs/net/net2]
color='ambiance:net2'

[graphs/net/net3]
color='ambiance:net3'

[graphs/swap/swap1]
color='ambiance:swap1'
