[Desktop Entry]
Version=1.0
Name=Mpr SWB
Icon=/home/peter/.local/share/icons/g.svg
Comment="Configure mouse profile for game SW Battlefront 2"
Exec=/home/peter/.mpr/mpr-swb.sh
Type=Application
Categories=Utilities;
Keywords=mprswb
Terminal=false
