[Desktop Entry]
Version=1.0
Name=Mpr 1
Icon=/home/peter/.local/share/icons/g.svg
Comment="Set mouse profile to 1"
Exec=/home/peter/.mpr/mpr-1.sh
Type=Application
Categories=Utilities;
Keywords=mpr1
Terminal=false
